{:paths   ["src/main/clojure" "src/main/resources"]

 :deps    {org.clojure/clojure          {:mvn/version "1.10.3"}
           org.clojure/tools.deps.alpha {:mvn/version "0.11.905"}
           org.slf4j/slf4j-simple       {:mvn/version "1.7.30"}}

 :aliases {:module.dev/paths  {:extra-paths ["src/dev/clojure" "src/dev/resources"]}
           :module.dev/deps   {}
           :module.test/paths {:extra-paths ["src/test/clojure" "src/test/resources"]}
           :module.test/deps  {}}}
